# Ignorar todo por defecto
*

# Permitir carpetas y solo .pas
!*/
!**/*.pas

# Permitir estos archivos importantes
!.gitignore
!README.md
!*.pdf

# Archivos que seguro querés ignorar
*.exe
*.o
*.ppu
*.out
*.compiled
*.bak
*.dcu
